body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJWn558Dh1kJ9EJX_Q7OCz7hRkWyyvMDB16w9nTcZzGkgAKlWYOA");
    background-repeat: no-repeat;
  }
  
  .jumbotron {
    font-family: 'Alfa Slab One', cursive;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvsetBkWsetyse_xXTbDyjfxKDfMBxm5BvSqHnb5IskCtmzTZ9JQ");
    background-size: cover;
    text-shadow: 1px 1px 10px #fff;
    background-size: cover;
  }
  
  .well, h3, h4 {
    font-family: 'Raleway', sans-serif;
  }
  
  .well {
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .qHeader {
    text-decoration: underline;
    background-image: url("");
    background-size: cover;
  }
  
  .cartItem {
    cursor: pointer;
    color: #0088cc;
  }
  
  .cartItem:hover {
    text-decoration: underline;
  }
  
  .cartWell, .choiceWell, .deliveryWell, .pickupWell, #show-pizza, #pickupEnd, #deliveryEnd {
    display: none;
  }
  
  button#pickup, button#delivery {
    margin-left: 33%;
    margin-right: 33%;
  }
  
  #deliveryCost {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-sTvpOmpd4CTEKq3ILZuIReiWj-R_jkkrvBEm691rMGOdYY2oXA");
    background-image: -webkit-radial-gradient()
  }
  